# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# C++ Builder files
*.tvsconfig
ModelSupport_*
*.local
*.map
*.tds
Release_Build
Debug_Build
__history